*{
		margin:0;
		padding:0;
		box-sizing:border-box;
	}
.card_container{
	width: 606px;
    height: 87px;
    border-radius: 14px;
    margin: 0 auto;
    box-shadow: 0 5px 10px 2px;
	
	justify-content:space-between;
	
}
	
.sub_container{
	display:flex;
	justify-content:space-between;
	align-items:center;
	background-color:white;
	box-shadow:20px;
	width:98%;
	height:70px;
margin: 0 auto;
position:relative;
top:10px;
outline:none;
border-radius:3px;
}

.card2_container{
	width: 606px;
    height: 87px;
    border-radius: 14px;
    margin: 0 auto;
    box-shadow: 0 1px 7px -2px;
	background-color:#0b0beaa6;
}
.sub2_container{
	display:flex;
	justify-content:space-between;
	align-items:center;
	
	color:white;
	box-shadow:20px;
	width:98%;
	height:70px;
margin: 71px auto;
position:relative;
top:10px;
outline:none;
border-radius:3px;
}



.card3_container{
	width: 634px;
    height: 98px;
    border-radius: 14px;
    margin: 0 auto;
    box-shadow: 0 1px 12px -2px;
    margin-top: 84px;
	
}



.sub3_container{
	align-items:center;
	justify-content:center;
	color:black;
	box-shadow:20px;
	width:98%;
	height:70px;
margin: 23px auto;
position:relative;
top:18px;
outline:none;
border-radius:3px;
}

.sub3_container button{
	border:none;
	outline:none;
	background-color:blue;
	color:white;
	border-radius:5px;
	width: 95px;
    height: 40px;
	margin-top:10px;
	padding:10px;
}
.sub_container span{
	margin-left:2px;
}